In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
from scipy import stats
from scipy.stats import norm
from scipy.stats import chi2_contingency

### Q.3 Sales of products in four different regions is tabulated for males and females. Find if male-female buyer rations are similar across regions.

In [2]:
Qt = pd.read_csv('BuyerRatio.csv')
Qt

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [9]:
alpha = 0.05

In [4]:
# Make dimensional array
obs=np.array([[50,142,131,70],[435,1523,1356,750]])
obs

array([[  50,  142,  131,   70],
       [ 435, 1523, 1356,  750]])

In [5]:
# Chi2 contengency independence test

chi2,pvalue,df,exp_obs = chi2_contingency(obs)

# o/p is (Chi2 stats value, p_value, df, expected obsvations)

In [6]:
exp_obs

array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
       [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]])

In [8]:
pvalue

0.6603094907091882

In [7]:
chi2

1.595945538661058

In [ ]:
Compare chi2 with Î± = 0.05

In [11]:
if chi2 < alpha:
  print('we reject null hypothesis')
else:
  print('we accept null hypothesis')

we accept null hypothesis