In [2]:
import pandas as pd
import seaborn as sns
import numpy as np
from scipy import stats
from scipy.stats import norm
from scipy.stats import chi2_contingency

### Q.4 TeleCall uses 4 centers around the globe to process customer order forms. They audit a certain % of the customer order forms. Any error in order form renders it defective and has to be reworked before processing. The manager wants to check whether the defective % varies by centre. Please analyze the data at 5% significance level and help the manager draw appropriate inferences.

In [17]:
dp = pd.read_csv('Costomer+OrderForm.csv')
dp

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [18]:
alpha = 0.05

In [19]:
dp.Phillippines.value_counts()

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [20]:
dp.Indonesia.value_counts()

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [21]:
dp.Malta.value_counts()

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [23]:
dp.India.value_counts()

Error Free    280
Defective      20
Name: India, dtype: int64

In [24]:
# Make a contingency table
obs=np.array([[271,267,269,280],[29,33,31,20]])
obs

array([[271, 267, 269, 280],
       [ 29,  33,  31,  20]])

In [25]:
# Chi2 contengency independence test
chi2,pvalue,df,exp_obs = chi2_contingency(obs) 
# o/p is (Chi2 stats value, p_value, df, expected obsvations)

In [26]:
exp_obs

array([[271.75, 271.75, 271.75, 271.75],
       [ 28.25,  28.25,  28.25,  28.25]])

In [27]:
pvalue

0.2771020991233135

In [28]:
chi2

3.858960685820355

Compare chi2 with α = 0.05

In [30]:
if chi2 < alpha:
  print('we reject null hypothesis')
else:
  print('we accept null hypothesis')

we accept null hypothesis